<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Car List</h1>
    <button><a href="/cars/add-car">Add A Word</a></button>
    <% if(carsList.length) { carsList.forEach((car) => { %>
        <p>
          Name: <%= car.name %>, Type: <%= car.type %>, (<%=car.year%>) 
        </p>
    <% })} else {%>
      <h1>No cars found.</h1>
    <% } %> 
  </body>
</html>
